<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>

<nav class="navbar navbar-expand-md navbar-dark bg-star mb-5 pb-4 pt-4">
  <div class="container">
    <a class="navbar-brand" href="#"
      ><img src="assets/brand/logo.jpeg" alt="" srcset="" width="254"
    /></a>
    <!-- <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarToggle"
      aria-controls="navbarToggle"
      aria-label="Toggle navigation"
      (click)="toggleMenu()"
      [attr.aria-expanded]="isCollapsed"
    > -->
      <span class="navbar-toggler-icon"></span>
    </button>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ms-auto mb-2 mb-md-0 text-uppercase">
    <li class="nav-item" *ngFor="let category of categories">
      <a class="nav-link" href="#">{{category.name}}</a>
    </li>
  </ul>



      <ul class="navbar-nav ms-auto mb-2 mb-md-0 text-uppercase">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/allstars">VIEW ALL STARS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/reviewstars">REVIEW STARS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/user">USER MANAGEMENT</a>
        </li>
        <li class="nav-item">
          <a class="bg-orange rounded-pill nav-link" href="#" routerLink="/submitstar">SUBMIT A STAR</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pt-0 mt-0" type="submit"
            ><img
              src="https://github.com/SwapnaliBirmole/starImg/blob/main/user1.jpg"
              alt="mdo"
              width="28"
              height="28"
              class="rounded-circle"
            />
            ANDREW VEGODA<br /><span class="text-capitalize"
              >User Type: Super Admin</span
            ></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
